{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 15, "knowledge_revision": 154, "git_revision": "", "hash": "96a27e69d10f07bea810f0fe5031d214", "format-version": 4, "code-base-name": "default", "filename": "financetrack_pro/ios/Flutter/Generated.xcconfig", "revision_history": [{"154": ""}]}