{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 116, "knowledge_revision": 255, "git_revision": "", "hash": "0a4fdc39afc9972bda41c32da974643f", "format-version": 4, "code-base-name": "default", "filename": "financetrack_pro/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"255": ""}]}